{% extends "base.html" %}
{% load static %}

{% block extended_head %}
<head>
    <link rel="stylesheet" href="{% static 'css/login-page.css' %}">
</head>
{% endblock %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="login-page">
<div class="form" id="login-form">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-entry">
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </div>
        <div class="form-entry">
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </div>

        <button id="login-button" type="submit" value="Login">Login</button>
        <input type="hidden" name="next" value="" />
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <div id="create-or-lost"><a href="/hydronote/add_user">Create an account | </a>
        <a href="{% url 'password_reset' %}">Lost password</a></div>
</div>
</div>

{% endblock %}