body {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1.0em;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Menu */
#title {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 1.5em;
    font-weight: normal;
    float: left;
}

#title em {
    font-weight: bold;
    font-style: normal;
}

#title a {
    text-decoration: none;
    color: hsl(204, 100%, 97%);
}

#menu-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    color: hsl(204, 100%, 97%);
    height: 72px;
    width: 100%;
}

#options-container {
    margin: 0;
    padding: 0;
}

.menu-item {
    float: left;
    list-style: none;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
}

.menu-item > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: hsl(204, 100%, 97%);
}

/* Login/Logout and username */
.user-info {
    padding: 0;
}

.log-line {
    list-style: none;
}

.log-link {
    text-decoration: none;
}

.log-link:link, .log-link:visited {
    color: #d1d1d1;
}

/* Display ☰ only in mobile version*/
#notelist-button, #options-button {
    display: none;
}


/* Big containers */
#application-container {
    position: relative;
    background: #e3e3e3;
    margin: auto;
    padding: 5px;
    height: 100%;
    border-bottom: 3px double #666;
}

#notelist-container {
    position: absolute;
    width: 20%;
    overflow: auto;
    top: 0;
    bottom: 0;
    background: #f7f7f7;
}

#editor-container {
    margin-left: 20%;
    padding: 5px;
}

#input-control {
    text-align: justify;
}

#input-control:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#message-text {
    font-style: italic;
}


/* Note list sidebar */
.sidebar-notelist {
    padding: 0;
    margin: 0;
}

.notelist-item {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    transition: 0.5s padding-left, 0.4s background-color;
}
.notelist-item:hover, .notelist-item:active {
    background-color: #bbb;
    padding-left: 2em;
    cursor: pointer;
    transition: 1s padding-left;
}

.notelist-item a {
    text-decoration: none;
    color: hsl(204, 76%, 20%);
}

.notelist-tag:before {
    content: attr(bullet-symbol);
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bold;
    color: hsl(204, 40%, 28%);
    padding: 0px 5px 0px 5px;
    text-align: center;
}

.notelist-tag a {
    font-weight: bold;
}

.notelist-tagged-note {
    padding-left: 25px;
}


/* Note title and tags */
#note-title-and-tags {
    width: 100%;
    overflow: auto;
}
#note-title {
    width: 50%;
    float: left;
}

#note-tags {
    width: 30%;
    float: right;
}
#note-tags[value="Add a tag"] {
    color: blue;
    font-style: italic;
}

.note-meta {
    font-size: 1.2em;
    appearance: none;
    box-shadow: none;
    border-radius: 0px;

    padding: 4px 0px 4px 2px;
    border: solid 2px #c9c9c9;
    transition: border 1.5s;
}

.note-meta:focus, .note-meta.focus {
    border: solid 2px #969696;
}


/* Editor buttons (Save, Create, Delete) and buttons in pop-ups */
#editor-button-container {
    padding-top: 5px;
    width: 100%;
}
.editor-button, .modal-button {
    height: 40px;
    vertical-align: middle;
    font-size: 1.2em;
    text-decoration: none;
    background: hsl(204, 76%, 28%);
    color: #efefef;
    box-shadow: 1px 1px 1px 0px rgba(68, 68, 68, 0.57);
    border: none;
    border-radius: 1px;
    margin-top: 5px;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
}

#save-note {
    width: 40%;
}

#create-note {
    width: 30%;
}

#create-note:hover, #save-note:hover, .cancel-button:hover,
#create-note:active, #save-note:active, .cancel-button:active {
    background: hsl(204, 100%, 50%);
}

#delete-note {
    width: 20%;
}

#delete-note:hover, .confirm-delete-button:hover {
    background: #ff0000;
}


/* Modal "About" pop-up */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-button-container {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}
.modal-button-container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.modal-button {
    width: 40%;
    display: inline-block;
}

.confirm-delete-button {
    background-color: dimgrey;
}
