body {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
/*    font-family: "Lucida Console", Courier, monospace;*/
}


.sidebar-nav {
    margin-top: 50px;
}
#title {
    text-align: left;
    margin-left: 20px;
}


#note-title {
    display: block;
    margin: 0;
    width: 95.3%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

#note-title {
  padding: 10px;
  border: solid 2px #c9c9c9;
  transition: border 0.5s;
}
#note-title:focus,
#note-title.focus {
  border: solid 2px #969696;
}
