body {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
}

#menu-container {
    border-style: solid;
    border-color: #696969;
    background-color: dimgray;
    color: white;
    padding: 0px;
    height: 70px;
}

#title {
    margin: 10px 10px 10px 20px;
    
    font-size: 3em;
    padding: 0px;
    float: left;
}

#user-info {
    float: right;
    margin: 10px 20px 0px 0px;
    list-style: none;
}

.log-link:link {
    color: white;
}

.log-link:visited {
    color: #d1d1d1;
}


#application-container {
    background: #e3e3e3;
    margin: auto;
    padding: 5px;
}

#sidebar-container {
    width: 20%;
    height: auto;
    float: left;
    background: #f7f7f7;
}

#editor-container {
    margin-left: 20%;
    padding: 5px;
}

#input-control {
    text-align: justify;
}

#input-control:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#message-text {
    font-style: italic;
}

#note-title {
    width: 50%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: 0px;

    padding: 10px;
    border: solid 2px #c9c9c9;
    transition: border 1.5s;
}

#note-title:focus,
#note-title.focus {
    border: solid 2px #969696;
}

#create-note, #delete-note {
    height: 40px;
    vertical-align: middle;
    box-shadow: 1px;
    border: none;
}

#create-note {
    width: 30%;
  background: #11537e;
  border-radius: 0px;
  color: #efefef;
  font-size: 18px;
  text-decoration: none;
}

#create-note:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#delete-note {
  background: #11537e;
  border-radius: 0px;
  color: #efefef;
  font-size: 18px;
  text-decoration: none;
}

#delete-note:hover {
  background: #ef653b;
  text-decoration: none;
}