{% extends "./base.html" %}
{% load static %}

{% block extended_head %}
<link rel="stylesheet" href="{% static 'css/form-page.css' %}">
{% endblock %}

{% block content %}
<div class="form-page">
<div class="form">
    <form method="post" action="">
        {% csrf_token %}
<!--        {{ form }}-->
        <div class="form-entry">
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </div>
        <div class="form-entry">
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
        </div>
        <div class="form-entry">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" />
        </div>
        <button type="submit" value="Create new account">Create new account</button>
    </form>
</div>
</div>
{% endblock %}