<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Load bootstrap and jQuery   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Add static CSS & JS -->
    {% block title %}<title>hydronote</title>{% endblock %}
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" title="Default style">
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>


<body>
    <h1 id="title"><em>hydronote</em></h1>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar-container" class="col-sm-3">
                {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                {% endif %}
                
                <!-- List of saved notes -->
                {% block sidebar %}
                    {% if note_list %}
                    <ul class="sidebar-nav">    
                    {% for note in note_list %}
                        <li><a href="{{ note.id }}/select_note/">{{ note }}</a></li>
                    {% endfor %}
                    </ul>
                    {% else %}
                        <p>No notes are available.</p>
                    {% endif %}
                {% endblock %}
            </div>
            
            <div class="col-sm-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    
    </div>
    
    
</body>

</html>
