<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="NoteApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>hydronote</title>{% endblock %}
    
    {% block extended_head %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
    
<body>
    <div id="menu-container">
        <h1 id="title">hydronote</h1>
        <div id="user-info">{% if user.is_authenticated %}
            <li>{{ user.username }}</li>
            <li><a class="log-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a class="log-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </div>
    </div>
</body>

{% block content %}{% endblock %}

</html>
