<!DOCTYPE html>
{% load static %}
<html ng-app='NoteApp'>
    <head>
        <title>hydronote</title>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div id="menu-container">
            <h1 id="title">hydronote</h1>
        </div>
        <div ui-view></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
        <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
        <script src="{% static 'js/angular-ui-tinymce/tinymce.min.js' %}"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/app.js' %}"></script>
        
        <script> var stylesheetPath = "{% static 'css/styles.css' %}"</script>
        <script src="{% static 'js/editor.js' %}"></script>
    </body>
</html>