<body ng-controller="mainController">
    <section id="application-container">
        <!--    List of notes to choose from -->
        <div id="notelist-container" class="menu-popup">
            <ul class="sidebar-notelist" ng-repeat="listItem in noteTitleList">
                <li class="notelist-item notelist-{{listItem.type}}"
                    bullet-symbol="{{listItem.isExpanded ? '-' : '+'}}">
                    <a href id="{{listItem.id}}" ng-click="listSelect(listItem.id, $event)" ng-draggable>
                        {{ listItem.title ? listItem.title : '[Untitled]' }}{{listItem.index}}</a>
                </li>
            </ul>
        </div>

        <!--    Editor and buttons    -->
        <div id="editor-container">
            <div id="input-control">
                <div id="note-title-and-tags">
                <!--    Note title -->
                    <input id="note-title" class="note-meta" maxlength="40" type="text" ng-model="currentNote.note_title">

                <!--    Note tag(s) -->
                    <input id="note-tags" placeholder="Add a tag" class="note-meta" maxlength="40" type="text" ng-model="currentNote.tags">
                </div>

            <!--    Note editing area (tinyMCE WYSIWYG editor) -->
                <textarea id="editor" ui-tinymce="tinymceOptions" ng-model="currentNote.note_text"></textarea>

            <!--    Save selected Note button -->
                <button id="save-note" class="editor-button" ng-click="saveNote()">Save</button>

            <!--    Create Note button -->
                <button id="create-note" class="editor-button" ng-click="addNote()">Create</button>

            <!--    Delete selected note button -->
                <button id="delete-note" class="editor-button" ng-click="deleteNote()" >Delete</button>
            </div>

        </div>

        <!--    Popup to confirm irreversible Delete -->
        <div id="delete-popup" class="modal">
            <div class="modal-content">
                <span id="delete-close" class="close">&times;</span>
                <h3>Are you sure?</h3>
                <p>Would you like to permanently, irreversibly, indubitably delete this note?</p>
                <div class="modal-button-container">
                    <button id="delete-modal-cancel" class="cancel-button modal-button">Cancel</button>
                    <button id="delete-modal-confirm" class="confirm-delete-button modal-button">Delete</button>
                </div>
            </div>
        </div>
    </section>
</body>
